 @import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@700&display=swap");

div.content {
  max-width: 500px;
  margin: auto;
  padding:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.6), 5px 5px 9px rgba(94,104,121,0.6);
}

div.card {
  display: grid;
  grid-template-rows: 5fr 1fr;
  width: 100%;
}

div.card-main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

div.card-text h1,h3,p{
    margin: 5px ;
}

div.card-text h1,h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #282828;
}

div.card-text h3 {
  font-size: 20px;
  color: #969696;
}

div.card-text p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 14px;
  color: black;
}

div.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card-image img {
    margin: 5px;
    width: 90%;
    border-radius: 200px;
}

div.card-footer{
    display: flex;
    padding: 0px 5px;
    justify-content:flex-start;
    align-items: center;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

div.card-footer a{
    margin: 0px 5px;
}

div.card-footer a,a:link,a:visited{
    color: #282828;
}

div.card-footer a:hover{
    color: #00564d;
}